.segment {
  padding: 1.5em !important;
  margin: 0px !important;
  hyphens: auto;
}
a {
  color: #fff !important;
}
.fair {
  background-color: #bcee68;
}
.icons {
  border-radius: 0px !important;
}
.dark {
  background-color: #a2cd5a;
}
.dark h2 {
  color: #fff !important;
}
.about img {
  margin-right: 1em;
}
.partner {
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.is-flex {
  display: flex;
}
.specialtrick {
  padding: 0px!important;
}
.specialtrick h2 {
  margin-top: 0px!important;
  margin-bottom: 21px!important;
  margin-left: 21px!important;
  padding-top: 21px!important;
}
.partner img {
  margin-right: 10px;
  margin-left: 21px;
  margin-bottom: 21px;
  max-width: 100%;
  max-height: 4em;
}
.content {
  margin-top: 0px !important;
  margin-bottom: 10px !important;
}
