.grey {
  background-color: #dedede;
}
.darkgrey {
  background-color: #7a7a7a;
}
.is-flex {
  display: flex;
}
.partner {
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.icons {
   border-radius: 0px !important;
}
.segment {
   padding: 2em !important;
   margin: 0px !important;
}
.content {
  margin-top: 0px !important;
  margin-bottom: 10px !important;
}
.is-flex img {
  margin-right: 2em;
  margin-bottom: 2em;
  max-width: 100%;
  max-height: 4em;
}
